/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: 'Open Sans',
      density: 0,
    )
  );

  @include mat.system-classes();
}
